@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");

:root {
    --white-color: #ffffff;
    --light-grey-color: #aaaaaa;
    --orange-color: #e88c0e;
    --light-green-color: #0b3927;
    --lighter-green-color: #11553b;
    --hover-green-color: #1a7f58;
    --dark-green-color: #061c14;
    --black-color: #000000;
    --body-font: "Raleway", sans-serif;
    --h1-font-size: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1104px) {
    :root {
        --logo-font-size: 40px;
        --medium-font-size: 16px;
        --large-font-size: 20px;
        --h1-font-weight: 700;
        --medium-font-weight: 400;
    }
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font);

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    /* height: auto; */
}

/*----------------- Header Image ---------------*/

.header-img {
    /* position: relative;
    top: 0;
    left: 0; */
    /* height: 269px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-width: 375px;
    height: auto;
    top: 0;
    left: 0;


}

.img-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    background: #11553B;
    max-width: 100%;
    height: auto;


}

.img-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
    opacity: 0.2;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(amala.png);

}

/*----------------- Form ---------------*/

.wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    height: auto;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px 56px;
    /* position: absolute; */
    min-width: 375px;
    /* height: 80vh; */
    left: 0px;

    top: 230px;
    background: var(--white-color);
    border-radius: 24px 24px 0px 0px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    flex-grow: 0;
    /* max-width: 60rem; */
    /* height: 466px; */

}

.form-header {
    padding: 0px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    padding: 0px;
    gap: 16px;
    /* flex-grow: 1; */
    /* width: 343px; */
    max-height: 350px;

}

.form input {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    padding: 10px 16px;
    box-sizing: border-box;
    border: 1px solid var(--light-grey-color);
    border-radius: 8px;
    gap: 10px;

    width: 343px;
    height: 44px;

}

.form label {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--black-color);
}

.btn {
    width: 100%;
    height: 60px;
    padding: 10px;
}

.login-btn {
    background-color: var(--lighter-green-color);
    border: none;
    border-radius: 8px;
    color: var(--white-color);
    font-family: var(--body-font);
    margin: 0;
    width: 100%;
    padding: 12px 40px;
    gap: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

}

.bold-text {
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

}

.p-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #808080;

}

.form-link {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--lighter-green-color);
    font-weight: 400;
    font-family: var(--body-font);
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

.social-btn {
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--white-color);
    border: 1px solid var(--lighter-green-color);
    border-radius: 8px;
    font-weight: var(--h1-font-weight);
    font-size: var(--medium-font-size);
    color: var(--lighter-green-color);
    line-height: 22px;
    cursor: pointer;
    /* height: auto; */
    /* width: 100%; */
}

.social-btn img {
    max-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#register span {
    color: var(--light-green-color);
    font-weight: 700;
    padding: 2px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .header-img {
        min-width: 479px;

    }


    .wrapper {
        /* position: absolute; */
    }

    .form-wrapper {
        display: flex;
        justify-content: center;
        min-width: 479px;
        height: auto;
        /* position: relative; */
        /* padding: 32px 16px 56px; */

    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: auto 15px; */
        min-width: 100%;
        padding: 0;
        /* margin: auto; */
    }

    .form-header {
        min-width: 100%;
        height: auto;
        /* margin: 0; */
        font-size: 16px;
    }
}